language: go

go:
  - 1.6

sudo: required

before_install:
  - go get -d github.com/libgit2/git2go
  - cd $GOPATH/src/github.com/libgit2/git2go
  - git checkout next
  - git submodule update --init
  - make install
  - go install
  - cd $TRAVIS_BUILD_DIR
  - go install


script:
  - go test
